
.kv--secondary-header-container {
  display: flex;
  justify-content: space-between;
}

.kv--span > * {
  display: inline-block;
}

.bx--dropdown.kv--dropdown {  
  width: 200px; // 200px from carbon-react storybook
  border: 1px solid #0f62fe;

  [role=button] * {
    // Change text/icon color in Carbon <Dropdown>
    color: #0f62fe;
    fill: #0f62fe;
  }
}
