//
// Common styling used throughout kAppNav
//
$carbon-sidenav-width: 3rem;

.bx--content {
  padding-left: $carbon-sidenav-width * 2;
}

.bx--side-nav__navigation {
  background-color: #161616;
}

//
// Supported way to customize Carbon icons
// src: https://github.com/carbon-design-system/carbon/tree/master/packages/icons-react#two-tone-icons
//
$statusIconMarginRight: 10px;
svg {
  &.kv--normal-icon {
    margin-right: $statusIconMarginRight;
    fill: green;
    &.job {
      fill: #0f62fe;
    }
  }
  &.kv--warning-icon {
    margin-right: $statusIconMarginRight;
    fill: #F8C22B;
    & [data-icon-path='inner-path'] {
      fill: black;
    }
  }
  &.kv--problem-icon {
    margin-right: $statusIconMarginRight;
    fill: red;
  }
  &.kv--inprogress-icon {
    margin-right: $statusIconMarginRight;
    fill: #0f62fe;
  }
  &.kv--unknown-icon {
    margin-right: $statusIconMarginRight;
  }
}

td > * {
  vertical-align: middle;
}
